body {
	font-size: 1.4em;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2.2em;
}

h3 {
    font-size: 1.8em;
}

h4 {
    font-size: 1.6em;
}

h5 {
    font-size: 1.2em;
    font-style: italic;
}

nav.navbar-fixed-top {
	background-color: transparent;
}

#toc-toggle {
	margin-top: 2px;
}

#toc {
	position: fixed;
	padding: 0px;
	margin: 0px;
}
/*
@media (max-width: 767px) {
	#toc {
		width: 36%;
	}
}

@media (min-width: 768px) {
	#toc {
		width: 23%;
	}
}
*/